.Info {
  margin-top: 80px;
  background: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO */
.info-hero {
  text-align: center;
  padding: 100px 20px;
}

.info-hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.info-hero p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #ccc;
}

/* BOTÃO */
.btn-primary {
  background: #e50914;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary-b {
  background: #e50914;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 20px;
}

.btn-primary:hover {
  background: #f6121d;
}

/* SECTIONS */
.info-section {
  max-width: 1000px;
  margin: 0 auto 80px auto;
  padding: 0 20px;
}

.info-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* CTA FINAL */
.info-cta {
  text-align: center;
  padding: 100px 200px;
  /* background-color: gray; */
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}